.texto-vermelho {
    color: rgb(212, 30, 30);
}

.fundo-vermelho {
    border-radius: 20px;
    background-color: rgb(212, 30, 30);
    color: white;
    padding: 10px 0px 10px 0px;
}

.center {
    text-align: center;
}

hr {
    border-color: red;
    width: 150px;
}

body {
    font-family: sans-serif;
}

.texto-cinza {
    color: rgb(99, 99, 99);
}

.alinhar img {
    width: 1000px;
    margin-bottom: 50px;
}

.alinhar-imagem {
    display: inline-block;
    vertical-align: sub;
}

.alinhar-texto {
    display: inline-block;
    width: 330px;
    text-align: left;
    padding-left: 20px;
}

.tamanho-texto {
    font-size: 28px;
}

.margin-top {
    margin-top: 20px;
}

.padding-top {
    padding-top: 20px;
}

.center-norte {
    display: inline-block;
    width: 280px;
}

.posicao-logo1 {
    display: inline;
    justify-content: center;
    vertical-align: sub;
}

.posicao-logo2 {
    display: inline;
    justify-content: center;
    margin-left: 20px;
}

.fundo-cinza {
    background-color: rgb(230, 230, 230);
    width: 1000px;
    display: inline-table;
}

.display-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.grid {
    max-width: 950px;
    margin: 0 auto;
}

.item {
    margin: 5px 25px 5px;
    text-align: left;
}

section div h4 {
    margin: 5px 5px 0px 5px;
}

section div p {
    margin: 5px 5px 10px 5px;
}

.margin-top-item {
    margin-top: 67px;
}

.margin-right {
    margin-right: 0;
}